.navLink {
  margin: 5px 10px;
}
.navLink:focus,
.navLink:hover {
  /* display: inline-block; */
  color: rgb(26, 26, 26);
  transform: translateY(-2px);
  transition: 0.5s;
}

.main-bg {
  height: 600px;
  background-image: url("./img/Candles-bg.jpg");
  background-size: cover;
  background-position: center;
  margin-bottom: 50px;
}
.products:focus,
.products:hover {
  color: grey;
  transform: translateY(-4px);
  transition: 0.5s;
}
.productsLink {
  text-decoration: none;
  color: black;
}
.productsLink:focus,
.productsLink:hover {
  color: grey;
  transition: 0.5s;
}
.productsLink > img {
  margin-bottom: 20px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
